<!DOCTYPE html>
<html ng-app = "googleMapsApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&signed_in=true&key=AIzaSyDyOX5Hn3vZ1egpC9T7g-8cNz_1zZmVazI"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&v=3.exp&signed_in=true"></script> -->
	<script type="text/javascript" src="cities.js"></script>
	<script type="text/javascript" src="scripts.js"></script>

</head>
<body ng-controller = "googleMapsController">

	<div id="map"></div>

	<div class="rightTable">
		<form ng-submit="updateMarkers()">
			<input id="filter-input" ng-model="citiesFilter" type="text">
			<input type="submit" value="Update the Map"> <br>
			<label>
				Points of Interest
				<select ng-model="pointsOfInterest" ng-options="place for place in placesTypes"></select>
			</label>

			<table ng-table="cityTable" show-filter="true">
			<tr>
				<th colspan="4">Cities By Population</th>
			</tr>

			<tr ng-repeat="city in (filteredCities = (cities |filter: citiesFilter)) track by $index" class="tableRow">
				
				<td id="icon">{{city.yearRank}}</td>
				<td title="cityName"><a href="" ng-click="triggerClick($index)">{{city.cityName}}</a></td>
				<td>
					<button type="submit" ng-click="getDirections(city.lat, city.lon)" ng-model="directions">Get Directions</button>
				</td>
				<td>
					<button type="submit" ng-click="zoomToCity(city.lat, city.lon)">Zoom to City</button>
				</td>
			
			</tr>
		</table>
		</form>
	</div>

	<div ng-show="directions=true" id="listWindow"><button ng-click="toggle()">Clear</button></div>

</body>
</html>